@font-face {
    font-family: "iconfont"; /* Project id 5071872 */
    src: url('//at.alicdn.com/t/c/font_5071872_6prsnnz410l.woff2?t=1763802174458') format('woff2'),
         url('//at.alicdn.com/t/c/font_5071872_6prsnnz410l.woff?t=1763802174458') format('woff'),
         url('//at.alicdn.com/t/c/font_5071872_6prsnnz410l.ttf?t=1763802174458') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-xuehua:before {
    content: "\e63d";
  }
  
  .icon-kongzhizhire:before {
    content: "\e629";
  }